.dash-user-info{
    height: 88vh;
    display: block;
}
.navbar-inverse{
    background: #2C3E50;
    border-bottom: 1px solid yellow;
}
body{
    background-color: #85929E;
}
.dash-item{
    text-align: center;
}
.items{
    margin: 0px;
    padding: 5px;
}
.items-menu{
   height: 111px;
}
.menu-item{
    padding: 5px;
}
.dash-sub{
    background-color: lightsteelblue;
}
.dashboard{
    margin: 10px;
    margin-top: 55px;
}
.profile-pic{
    max-width:100px; max-height: 100px; height: auto; width: auto;    
}