.subject-content{
    height: 88vh;
    display: block;
    overflow-y: auto;
}
.footer-account{
    height: 50px;
    text-align: center;
    font-size: 12px;
    color: white;
    background-color: #2C3E50;
    border-top: 1px solid yellow;
    padding-top: 15px;
}
.head_content, .head_content_search{
    margin: 0;
    padding: 0;
}
.subject_form{
    border: 1px dotted;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.edit-icon, .add-icon{
    padding-right: 10px;
}
.edit-icon, .add-icon, .remove-textbox, .update-icon, .delete-icon{
    cursor: pointer;
}
.subjectNameTextbox, .control2, .control3{
    display: none;
}
.gap{
    padding-top : 8px;
}